.footer{
    width: 100%;
    background: #fff;
    border-top: 1px solid #cac6c6;
    color: #11151C;
    padding: 10px 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

