.gallery-item {
  width: 350px;
  box-shadow: 0.3px 0.7px 2.7px rgba(0, 0, 0, 0.022),
    0.8px 1.6px 6.4px rgba(0, 0, 0, 0.032), 1.5px 3px 12px rgba(0, 0, 0, 0.04),
    2.7px 5.4px 21.4px rgba(0, 0, 0, 0.048),
    5px 10px 40.1px rgba(0, 0, 0, 0.058), 12px 24px 96px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.gallery-item-title {
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
}

.gallery-item-body {
  padding: 0 30px 30px 30px;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 10px;
}
